@inherits LayoutComponentBase

<body>
    <header>
        <NavMenu />
    </header>
    <div class="container-main pt-5">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
</body>